In [1]:
import pandas as pd
import numpy as np

In [2]:
for i in range(1):
    filename = f"/home/upmemstaff/sbrocard/datasets/criteo/day_{i}.gz"
    df = pd.read_csv(filename, header=None, sep="\t", compression='gzip', nrows=1000)

In [3]:
df = pd.concat([pd.read_csv(filename, header=None, sep="\t", compression='gzip', nrows=1000) for i in range(2)], ignore_index=True)
df.columns = df.columns.astype(str)
# df_hash = df.iloc[:, 14:]
# df = df.iloc[:, :14]

In [6]:
col = 16
df[str(col)].groupby(df[str(col)]).count().to_dict()

{'0078b677': 8,
 '008ffec4': 2,
 '009a1f8d': 4,
 '01406fef': 2,
 '015bbbbf': 2,
 '01a0c607': 52,
 '01a78930': 2,
 '02195bc8': 2,
 '026cafcd': 2,
 '027ac486': 2,
 '02c63370': 2,
 '02f3cfb9': 2,
 '035c564c': 2,
 '043813b5': 2,
 '045f0d2c': 2,
 '04918555': 2,
 '04d1aa22': 4,
 '05532a26': 2,
 '06528223': 2,
 '068803cd': 2,
 '069d3009': 2,
 '06f304a5': 2,
 '0769bc52': 2,
 '085fdf4b': 2,
 '086c967d': 2,
 '08a58d85': 4,
 '08b66ce9': 2,
 '09764b7a': 2,
 '098006bb': 2,
 '09ab2efa': 2,
 '0a9b953e': 2,
 '0ac70d1d': 2,
 '0b0bca34': 4,
 '0b8e4616': 6,
 '0ba9bafa': 2,
 '0c506db9': 2,
 '0c59af1e': 2,
 '0c5ae6ba': 2,
 '0ccd2ee8': 2,
 '0e1cf0f9': 2,
 '0e818a69': 2,
 '0ed7b9c1': 2,
 '0f04939a': 2,
 '10448b24': 14,
 '10628dab': 2,
 '11a54eab': 2,
 '11a87205': 2,
 '11c916f5': 2,
 '1215c070': 2,
 '133ff2f5': 4,
 '1368c86e': 2,
 '1470d9e8': 2,
 '160025a5': 2,
 '17562964': 2,
 '1783e728': 2,
 '17debbff': 12,
 '17f8a1e6': 6,
 '19ab5ba8': 2,
 '1bb60ef0': 2,
 '1c24c189': 10,
 '1c72c87a': 2,
 '1ce25fed': 2,
 '1ce28ce6': 2,
 '1d2428bc': 22,
 '1d8a002d': 2,
 '1eca6be2': 2,
 '1f00be80': 2,
 '1f042d71': 2,
 '1f1f4c84': 2,
 '1fc83571': 2,
 '1fce2609': 2,
 '20057265': 2,
 '202d5c65': 2,
 '2043bd40': 2,
 '20e27cc7': 2,
 '219b0ec7': 2,
 '22069480': 2,
 '2408403a': 2,
 '2417c60d': 4,
 '24230890': 2,
 '243b0421': 2,
 '24cdb1eb': 4,
 '24f1cb03': 2,
 '251815f7': 2,
 '2546f1ab': 2,
 '25d79747': 2,
 '267eddfe': 2,
 '2718da47': 2,
 '27b79fda': 2,
 '27e3193d': 6,
 '28250996': 2,
 '2826bc68': 4,
 '28e771d7': 2,
 '29292844': 2,
 '2a0c2f9c': 6,
 '2a95180c': 2,
 '2ac0c4b2': 2,
 '2af31717': 2,
 '2bbe7b7c': 2,
 '2bf7b8e5': 4,
 '2bf93749': 2,
 '2c0673cf': 2,
 '2c56b0d0': 2,
 '2c5f0be4': 2,
 '2cdf4eb9': 2,
 '2da5ea34': 2,
 '2e276d86': 8,
 '2e8b2631': 12,
 '2f8b4da4': 6,
 '2feb0e74': 2,
 '3020b482': 2,
 '313d490b': 4,
 '3223c131': 2,
 '3314c56a': 2,
 '33c95be6': 2,
 '35210107': 2,
 '35b737a1': 2,
 '36c6c432': 4,
 '36de22be': 2,
 '37775f94': 4,
 '37824384': 2,
 '386dc8f3': 2,
 '38a2a6ef': 2,
 '396c68d1': 4,
 '39746690': 2,
 '3985b94c': 2,
 '398ae461': 2,
 '399db5cd': 2,
 '39fc3206': 2,
 '3a92e2e0': 2,
 '3ad9db5d': 2,
 '3b47e0dc': 2,
 '3b60861c': 2,
 '3b66b2e0': 14,
 '3be43eeb': 2,
 '3cd7902e': 22,
 '3cee6ba8': 2,
 '3d983690': 2,
 '3e3ca24f': 2,
 '3eafa839': 20,
 '3ebe6602': 2,
 '3eff50a8': 2,
 '3f9d87cb': 2,
 '3fcccacd': 12,
 '3fcd7244': 2,
 '4006d559': 2,
 '4056ab40': 2,
 '40617e73': 2,
 '40e39801': 2,
 '417e6103': 60,
 '41a76be4': 2,
 '41e8f8a8': 2,
 '4262c207': 2,
 '42af0ab3': 2,
 '43504368': 2,
 '437b83b2': 2,
 '43efc393': 2,
 '447089bb': 2,
 '45a23406': 2,
 '46519c8f': 2,
 '46575b1a': 2,
 '471b4db9': 12,
 '4773eeb6': 2,
 '4792101c': 4,
 '48c07a22': 8,
 '48cf8dc6': 4,
 '4978c29d': 2,
 '49c2a455': 2,
 '49c7ebf8': 2,
 '4a61006c': 4,
 '4b67dca6': 2,
 '4bf88d80': 2,
 '4c64221a': 26,
 '4cd6a79c': 2,
 '4d00f64a': 2,
 '4d014f78': 2,
 '4d0db86f': 2,
 '4d2ca218': 2,
 '4dcd133e': 2,
 '4e7ff5c3': 4,
 '4f1c404c': 2,
 '4fc11eae': 2,
 '501a4080': 2,
 '50dfadcd': 2,
 '50fcf3fa': 2,
 '525811ca': 2,
 '530462d3': 2,
 '536e76e2': 2,
 '554c378e': 2,
 '5558fc92': 8,
 '5599a3a0': 2,
 '55b09f08': 2,
 '560ac983': 2,
 '560b6708': 2,
 '5676eb4b': 2,
 '5714da52': 2,
 '5773ec8c': 2,
 '5876bb9c': 2,
 '58b38f70': 2,
 '591d7449': 4,
 '5a0357a0': 2,
 '5a514e5e': 2,
 '5a99f133': 2,
 '5afa20ad': 2,
 '5b1390b5': 2,
 '5b22ec6e': 2,
 '5bd4f067': 18,
 '5c69c505': 2,
 '5cfbbadd': 2,
 '5d4d0f12': 2,
 '5d643432': 2,
 '5e266d68': 2,
 '5eacb6ab': 2,
 '60914d27': 4,
 '60b79ed6': 2,
 '622cc89e': 2,
 '627a7ef6': 2,
 '62a5fee5': 4,
 '62bec60d': 2,
 '6366868c': 2,
 '63fa9a31': 2,
 '64fa3e43': 2,
 '652f15b0': 2,
 '655a7215': 2,
 '65e5e943': 2,
 '675f3161': 4,
 '68a0af0e': 2,
 '68f5eb00': 2,
 '6902a362': 2,
 '694a8157': 2,
 '69c2883d': 2,
 '69fe0582': 6,
 '6a12956e': 2,
 '6a999843': 2,
 '6acdbb9a': 2,
 '6b0a5233': 4,
 '6b7acd96': 2,
 '6c0b40a8': 2,
 '6c6c8a4b': 2,
 '6c8206cd': 2,
 '6cbc273f': 2,
 '6cf61f16': 2,
 '6e80dc5a': 2,
 '6e83c5d8': 4,
 '6f993f59': 2,
 '6faa15d5': 12,
 '702774b4': 2,
 '70571fba': 2,
 '706e65d9': 4,
 '72110660': 2,
 '72181f31': 2,
 '722f1389': 2,
 '7283c4ce': 2,
 '72913ec2': 6,
 '729ab7c2': 2,
 '72e688b8': 2,
 '74181092': 4,
 '741e02f2': 2,
 '743727e1': 4,
 '743cf2f2': 2,
 '745f9b84': 2,
 '76c16db5': 2,
 '76f867b4': 2,
 '770cfb89': 2,
 '771d4b38': 2,
 '782fdf14': 2,
 '787b7009': 2,
 '7880fd98': 2,
 '78ac2cbe': 4,
 '78ad812e': 4,
 '78c51a2c': 4,
 '78d78d8d': 2,
 '796ec2cb': 4,
 '7aa985a7': 2,
 '7ab70eeb': 2,
 '7ad6521e': 6,
 '7cfda56d': 2,
 '7d758b33': 2,
 '7e41c616': 2,
 '7e4fc2cc': 2,
 '7ec5ee29': 2,
 '7ec7499b': 2,
 '7ef3636c': 2,
 '7f064c73': 2,
 '7f60e3a2': 4,
 '7f7845b1': 4,
 '80147b75': 4,
 '8115a8e7': 2,
 '81dbc201': 2,
 '822a4a9c': 2,
 '828d10a2': 2,
 '8387b6d4': 8,
 '83a9aa9f': 2,
 '83b031b6': 2,
 '83e36587': 2,
 '84d25245': 2,
 '8503663d': 2,
 '8609082b': 2,
 '8687051a': 2,
 '869f3921': 2,
 '87efba42': 4,
 '895c4e7f': 2,
 '89d59a6d': 2,
 '89f8b319': 2,
 '89fd59da': 2,
 '8a02db60': 2,
 '8a24f31d': 2,
 '8a734adc': 12,
 '8b242a29': 2,
 '8b884dfb': 2,
 '8c485fc3': 2,
 '8cd20e71': 10,
 '8cf5944d': 2,
 '8d249dd4': 2,
 '8d609786': 4,
 '8db7f2b6': 2,
 '8e0c89ac': 2,
 '8f16f585': 12,
 '8f577a3a': 2,
 '906a0a97': 4,
 '90d59266': 6,
 '9138b96c': 4,
 '913afd8b': 2,
 '91cf214a': 2,
 '92008309': 4,
 '921258ba': 8,
 '930172f8': 4,
 '932221a4': 2,
 '932ddfee': 2,
 '93439d96': 2,
 '93e42a93': 28,
 '94aa4398': 2,
 '94df36c4': 2,
 '9590657f': 2,
 '95ada60a': 2,
 '969c8b5d': 2,
 '971f997b': 2,
 '972125e1': 2,
 '97d253e4': 2,
 '9821fed8': 2,
 '98bffec2': 2,
 '98d0f6a8': 4,
 '98e52c2c': 4,
 '992f278c': 2,
 '9938532f': 2,
 '99d683b3': 2,
 '99dec5d9': 2,
 '9a39e796': 4,
 '9a4bac07': 2,
 '9a5fcf53': 2,
 '9a898c89': 4,
 '9aa16b0b': 2,
 '9af151ca': 2,
 '9b48ba97': 2,
 '9b4deaa5': 2,
 '9c4e470f': 4,
 '9cbc2444': 2,
 '9cee136d': 2,
 '9d0cd913': 2,
 '9d3cda52': 2,
 '9d3fd8a0': 2,
 '9d6986a5': 4,
 '9dc65b3f': 2,
 '9dfd3605': 2,
 '9e694b0f': 2,
 '9e7b0171': 2,
 '9ed080af': 2,
 '9efb0d2e': 2,
 '9f149bf9': 2,
 '9fd46023': 4,
 'a0179454': 2,
 'a01ebae6': 2,
 'a12329b1': 2,
 'a12c9361': 2,
 'a1407382': 2,
 'a165934b': 2,
 'a1c80c66': 2,
 'a2427619': 4,
 'a250602b': 2,
 'a2e373a5': 2,
 'a309b47b': 2,
 'a3332479': 2,
 'a3599f48': 2,
 'a3c11ac9': 2,
 'a3c8e366': 2,
 'a6dbb501': 2,
 'a70bb405': 2,
 'a73b2445': 2,
 'a799793f': 2,
 'a8d27f5e': 2,
 'a97012ba': 2,
 'aa9572f9': 2,
 'aa9c94a0': 2,
 'aac9bfcd': 2,
 'ab3687a9': 2,
 'ab4a98f7': 2,
 'abb3a848': 2,
 'abe6138f': 2,
 'ac7c2fd8': 2,
 'ad10c9c8': 2,
 'ad549bc6': 2,
 'ad603352': 8,
 'ad797838': 2,
 'ad86bd15': 2,
 'ae0e09c7': 2,
 'ae4707a5': 2,
 'aea111b5': 4,
 'af054eec': 2,
 'af4bebd2': 2,
 'af7177bb': 2,
 'af7a827e': 4,
 'af84cf44': 14,
 'af923d27': 2,
 'afea442f': 6,
 'b0e7154b': 4,
 'b10bc3f9': 2,
 'b15e9997': 2,
 'b1fe7c96': 2,
 'b282bb91': 2,
 'b3233543': 2,
 'b423919e': 2,
 'b46553a7': 4,
 'b4836f94': 2,
 'b51d6b93': 2,
 'b68c80d1': 2,
 'b69d8ea9': 4,
 'b6b6f349': 2,
 'b6f8803d': 14,
 'b7e4d72d': 2,
 'b8358312': 2,
 'b841c6b4': 2,
 'b90b2897': 2,
 'b9a2abf4': 2,
 'b9fdf4b5': 2,
 'ba1c0f43': 2,
 'bafcb47b': 20,
 'bbec2cf6': 2,
 'bbf706e9': 2,
 'bcb7a10a': 6,
 'bcbddffd': 2,
 'bcd2491e': 2,
 'bd125ad6': 2,
 'bd1ce65d': 2,
 'bda1af36': 2,
 'bdb591ab': 2,
 'be78b4da': 2,
 'be908cfa': 4,
 'becccf21': 2,
 'bfbe69f6': 4,
 'c00e03a5': 2,
 'c07d26ed': 4,
 'c11616f2': 2,
 'c196e252': 2,
 'c1b43631': 2,
 'c233fd14': 2,
 'c2c39af5': 2,
 'c3253997': 2,
 'c3b9b820': 2,
 'c3bbdfd9': 2,
 'c3d2d035': 6,
 'c42ae598': 2,
 'c5d95b30': 2,
 'c6453aed': 2,
 'c73d2eb5': 2,
 'c7733554': 6,
 'c78eb349': 2,
 'c7baacee': 2,
 'c7cc8b0d': 2,
 'c8106a9c': 2,
 'c91635c8': 2,
 'ca002cb6': 2,
 'ca1615e9': 2,
 'ca647053': 2,
 'caf9e8b1': 2,
 'cb029803': 6,
 'cb9c92ec': 2,
 'cdcfc8ec': 2,
 'ce53d5f6': 2,
 'cebd3e04': 8,
 'ced6454e': 2,
 'cf8bced4': 2,
 'cfa2fa3a': 2,
 'cfd3a1ee': 2,
 'd0a70294': 2,
 'd0c5d50f': 6,
 'd0e2daac': 2,
 'd3ba068d': 2,
 'd3fc2ea9': 2,
 'd5209189': 2,
 'd57a74b5': 4,
 'd5d68dd4': 2,
 'd62e56dc': 2,
 'd761ec35': 2,
 'd7a8dfba': 2,
 'd8a8fb50': 2,
 'd8c56055': 2,
 'd917dc13': 6,
 'd949309a': 2,
 'd9618626': 4,
 'd9c1bf0d': 2,
 'd9fc2697': 2,
 'dae89720': 2,
 'db250c08': 2,
 'db709cde': 2,
 'db782a30': 2,
 'db9470e5': 2,
 'dbb5548e': 2,
 'dbdb7f33': 2,
 'dbffa586': 6,
 'dc728571': 4,
 'dca07090': 2,
 'dcd7909f': 2,
 'dce16c59': 2,
 'ddb2d2e1': 2,
 'ddbf2d5c': 6,
 'ddd956c1': 2,
 'de1587c5': 2,
 'de2db891': 2,
 'de46ba74': 20,
 'deb31b18': 10,
 'df86cdad': 2,
 'dfdb0965': 4,
 'e04b3976': 4,
 'e18e84c0': 8,
 'e1b84b89': 2,
 'e2b477da': 2,
 'e3b4f992': 2,
 'e3ed5e5f': 2,
 'e44a5d34': 4,
 'e4ac795b': 2,
 'e53bc859': 2,
 'e568fedd': 2,
 'e5e91232': 2,
 'e5f2e164': 2,
 'e5f86415': 2,
 'e668e35c': 4,
 'e721c74d': 2,
 'e738e6ee': 6,
 'e75b7e69': 8,
 'e7fa398f': 2,
 'eadb604b': 2,
 'eb26ff32': 2,
 'eb5cc0ac': 2,
 'ebb7faa1': 2,
 'ebcf498b': 2,
 'ebe452ac': 8,
 'ec4ec09e': 4,
 'ed76f949': 2,
 'eed01f58': 4,
 'ef7bbbbc': 6,
 'eff85be2': 2,
 'f01c55b2': 4,
 'f03ef61a': 6,
 'f0765583': 2,
 'f0bee090': 10,
 'f1454392': 2,
 'f17e6ef0': 2,
 'f19df729': 24,
 'f1d93049': 2,
 'f1da5f0f': 4,
 'f2077e43': 2,
 'f232f44c': 2,
 'f2485bfb': 10,
 'f249d615': 2,
 'f284ce9c': 2,
 'f2ba82ee': 2,
 'f2fe0eab': 2,
 'f2ff1ac8': 4,
 'f3023938': 2,
 'f306ed7f': 2,
 'f33e73ca': 4,
 'f362d50b': 4,
 'f3cc6589': 2,
 'f3febf48': 2,
 'f4703a4d': 10,
 'f4a563ba': 2,
 'f4c3b26b': 2,
 'f4c7155a': 2,
 'f4e474b3': 2,
 'f4ed0aaf': 4,
 'f54c2426': 2,
 'f66620ee': 16,
 'f6bc613d': 2,
 'f6c25860': 2,
 'f6db4d90': 4,
 'f70425c4': 4,
 'f804ac8b': 2,
 'f8923567': 2,
 'f9b6c7f8': 4,
 'f9fd0955': 2,
 'fa468921': 2,
 'fae1720c': 2,
 'fb11e77b': 2,
 'fb1c5e43': 6,
 'fbe162d8': 2,
 'fc3e1ffe': 2,
 'fca3b074': 2,
 'fcfddb6a': 2,
 'fd3cf0dd': 2,
 'fdb90e83': 2,
 'fe54dcfd': 8,
 'fea787e5': 2,
 'fecf43fe': 6,
 'fef52480': 4,
 'ff366f13': 2,
 'ff6ec947': 6,
 'ff851d0e': 2}

In [97]:
for col in range(14, 40):
    df[f"count_{col}"] = df[str(col)].groupby(df[str(col)]).transform('count')
for col in range(14, 40):
    df[f"mean_{col}"] = df.groupby(str(col), as_index=False)['0'].transform('mean')

In [98]:
df.drop(columns=[str(i) for i in range(14, 40)], inplace=True)

In [99]:
df = df.astype(np.float32)

In [100]:
global_average = df['0'].mean()

values = dict()
for col in range(14):
    values[str(col)] = 0
for col in range(14, 40):
    values[f"mean_{col}"] = global_average
    values[f"count_{col}"] = 0

0.021

In [101]:
df.fillna(value=values, inplace=True)

,0,1,2,3,4,5,6,7,8,9,...,mean_30,mean_31,mean_32,mean_33,mean_34,mean_35,mean_36,mean_37,mean_38,mean_39
0,1.0,5.0,110.0,NaN,16.0,NaN,1.0,0.0,14.0,7.0,...,0.021786,0.027344,0.023202,0.071429,0.071429,0.071429,0.055556,0.090909,0.019084,0.028169
1,0.0,32.0,3.0,5.0,NaN,1.0,0.0,0.0,61.0,5.0,...,0.021786,0.005435,0.023202,0.058824,0.058824,0.058824,0.062500,0.000000,0.009615,0.020408
2,0.0,NaN,233.0,1.0,146.0,1.0,0.0,0.0,99.0,7.0,...,0.021786,0.016393,0.023202,0.071429,0.071429,0.071429,0.055556,0.000000,0.029412,0.028169
3,0.0,NaN,24.0,NaN,11.0,24.0,NaN,0.0,56.0,3.0,...,0.025641,0.005435,0.023202,NaN,NaN,NaN,0.000000,0.000000,0.019084,0.020408
4,0.0,60.0,223.0,6.0,15.0,5.0,0.0,0.0,1.0,8.0,...,0.021786,0.027027,0.023202,0.000000,0.000000,0.000000,0.000000,0.500000,0.000000,0.028169
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,0.0,NaN,15.0,NaN,NaN,NaN,NaN,0.0,368.0,0.0,...,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,0.000000,0.019084,0.000000
1996,0.0,NaN,922.0,NaN,207.0,7.0,0.0,0.0,-1.0,2.0,...,0.021786,0.016393,0.013369,0.013369,0.013369,0.013369,0.013369,0.000000,0.009615,0.013587
1997,0.0,8.0,48.0,2.0,70.0,1.0,0.0,0.0,105.0,2.0,...,0.000000,0.000000,0.023202,0.000000,0.000000,0.000000,0.000000,0.000000,0.019084,0.028169
1998,0.0,40.0,265.0,15.0,NaN,69.0,0.0,0.0,52.0,0.0,...,0.021786,0.005435,0.013369,0.013369,0.013369,0.013369,0.013369,0.285714,0.019084,0.013587
1999,0.0,133.0,4891.0,6.0,NaN,NaN,0.0,0.0,0.0,9.0,...,0.021786,0.027344,0.023202,0.000000,0.000000,0.000000,0.000000,0.250000,0.000000,0.020408

In [95]:
df[[str(i) for i in range(14)]].fillna(global_average, inplace=True)

/tmp/ipykernel_12931/316254429.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[[str(i) for i in range(14)]].fillna(global_average, inplace=True)

In [84]:
df.iloc.fillna(0, inplace=True)

In [85]:
df

,0,1,2,3,4,5,6,7,8,9,...,mean_30,mean_31,mean_32,mean_33,mean_34,mean_35,mean_36,mean_37,mean_38,mean_39
0,1.0,5.0,110.0,0.0,16.0,0.0,1.0,0.0,14.0,7.0,...,0.021786,0.027344,0.023202,0.071429,0.071429,0.071429,0.055556,0.090909,0.019084,0.028169
1,0.0,32.0,3.0,5.0,0.0,1.0,0.0,0.0,61.0,5.0,...,0.021786,0.005435,0.023202,0.058824,0.058824,0.058824,0.062500,0.000000,0.009615,0.020408
2,0.0,0.0,233.0,1.0,146.0,1.0,0.0,0.0,99.0,7.0,...,0.021786,0.016393,0.023202,0.071429,0.071429,0.071429,0.055556,0.000000,0.029412,0.028169
3,0.0,0.0,24.0,0.0,11.0,24.0,0.0,0.0,56.0,3.0,...,0.025641,0.005435,0.023202,0.000000,0.000000,0.000000,0.000000,0.000000,0.019084,0.020408
4,0.0,60.0,223.0,6.0,15.0,5.0,0.0,0.0,1.0,8.0,...,0.021786,0.027027,0.023202,0.000000,0.000000,0.000000,0.000000,0.500000,0.000000,0.028169
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,0.0,0.0,15.0,0.0,0.0,0.0,0.0,0.0,368.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.019084,0.000000
1996,0.0,0.0,922.0,0.0,207.0,7.0,0.0,0.0,-1.0,2.0,...,0.021786,0.016393,0.013369,0.013369,0.013369,0.013369,0.013369,0.000000,0.009615,0.013587
1997,0.0,8.0,48.0,2.0,70.0,1.0,0.0,0.0,105.0,2.0,...,0.000000,0.000000,0.023202,0.000000,0.000000,0.000000,0.000000,0.000000,0.019084,0.028169
1998,0.0,40.0,265.0,15.0,0.0,69.0,0.0,0.0,52.0,0.0,...,0.021786,0.005435,0.013369,0.013369,0.013369,0.013369,0.013369,0.285714,0.019084,0.013587
1999,0.0,133.0,4891.0,6.0,0.0,0.0,0.0,0.0,0.0,9.0,...,0.021786,0.027344,0.023202,0.000000,0.000000,0.000000,0.000000,0.250000,0.000000,0.020408

In [44]:
df_hash['30']

0       d20856aa
1       d20856aa
2       d20856aa
3       1f7fc70b
4       d20856aa
          ...
1995         NaN
1996    d20856aa
1997    753da5f3
1998    d20856aa
1999    d20856aa
Name: 30, Length: 2000, dtype: object

In [16]:
df[30].groupby(df[30]).transform('count')

0      459.0
1      459.0
2      459.0
3       39.0
4      459.0
       ...
995      NaN
996    459.0
997     41.0
998    459.0
999    459.0
Name: 30, Length: 1000, dtype: float64

In [23]:
df[30].value_counts()

d20856aa    459
753da5f3     41
1f7fc70b     39
Name: 30, dtype: int64

In [49]:
df_hash['30']

0       d20856aa
1       d20856aa
2       d20856aa
3       1f7fc70b
4       d20856aa
          ...
1995         NaN
1996    d20856aa
1997    753da5f3
1998    d20856aa
1999    d20856aa
Name: 30, Length: 2000, dtype: object

In [50]:
df.groupby(df_hash['30'], as_index=False)['0'].mean()

          0
0  0.025641
1  0.000000
2  0.021786

In [58]:
df_hash['30']

0       d20856aa
1       d20856aa
2       d20856aa
3       1f7fc70b
4       d20856aa
          ...
1995         NaN
1996    d20856aa
1997    753da5f3
1998    d20856aa
1999    d20856aa
Name: 30, Length: 2000, dtype: object

In [59]:
df['30']

0       d20856aa
1       d20856aa
2       d20856aa
3       1f7fc70b
4       d20856aa
          ...
1995         NaN
1996    d20856aa
1997    753da5f3
1998    d20856aa
1999    d20856aa
Name: 30, Length: 2000, dtype: object

In [63]:
df.groupby('30', as_index=False)['0'].transform('mean')

             0
0     0.021786
1     0.021786
2     0.021786
3     0.025641
4     0.021786
...        ...
1994  0.021786
1996  0.021786
1997  0.000000
1998  0.021786
1999  0.021786

[1078 rows x 1 columns]

In [25]:
df.columns

Int64Index([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
            17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
            34, 35, 36, 37, 38, 39],
           dtype='int64')